{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    /*additional css content*/
  </style>
{% endblock %}
{% block content %}
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>United</h1>
      <p class="lead">Bem vindo ao nosso site.</p>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6">
      <div class="sponsor">
       <h2>Pé no chão</h2>
       <p>Serviços de pesquisa documental</p> 
      </div>
    </div>
  </div>
</div>

    <h3>{{ utc_dt }}</h3>
{% endblock %}
