{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    /*additional css content*/
  </style>
{% endblock %}
{% block content %}
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>United</h1>
      <p class="lead">Bem vindo ao nosso site.</p>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6">
      <div class="sponsor">
       <h2>Pé no chão</h2>
       <p>Serviços de pesquisa documental</p> <br>
       <p style="text-align: justify;">Nós da "Pé no Chão" sabemos que reconhecer a cidadania italiana é um processo importante e que exige muito cuidado.<br>Por isso, trabalhamos com muita dedicação e responsabilidade, para garantir que todos os documentos estejam corretos e que tudo seja feito de acordo com as normas e leis vigentes.<br> Além disso, temos um compromisso com a transparência e a honestidade em todos os nossos serviços, e sempre informamos aos nossos clientes sobre o andamento do processo e os prazos envolvidos.<br> Com isso, nossos clientes podem contar conosco para realizar seus sonhos de forma segura e confiável.</p>
      </div>
    </div>
  </div>
</div>

    <h3>{{ utc_dt }}</h3>
{% endblock %}
