{% extends "layout.html" %}

{% block title %}Registrar{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    /*additional css content*/
  </style>
{% endblock %}
{% block content %}
{% from 'bootstrap5/form.html' import render_field %}
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Registrar</h2>
        
        <p>Use esta página para se registrar no nosso site. Preencha o formulário abaixo com seus dados. Os campos marcados com um * são de preenchimento obrigatório.</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form method="POST" novalidate class="needs-validation">
          {{ form.csrf_token }}
          <div class="form-group">
            <div class="mb-3">
              <label for="username" class="form-label">Escolha seu nome de usuario:</label>
              {{ render_field(form.username,placeholder="Ex.: carlosf33",class="form-control",id="username", label="Usuário") }}
              <div class="invalid-feedback">
                Escolha um nome de usuario.
              </div>
        
            </div>
          </div>
          <div class="form-group">
            <div class="mb-3">
              <label for="firstname" class="form-label">Digite seu nome:</label>
              {{ render_field(form.firstname,placeholder="Ex.: Carlos",class="form-control",id="firstname", label="Usuário") }}
              <div class="invalid-feedback">
                Digite seu nome (ou seus nomes) como no seu RG.
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div class="mb-3">
              <label for="lastname" class="form-label">Digite seu sobrenome:</label>
              {{ render_field(form.lastname,placeholder="Ex.: Franco",class="form-control",id="lastname", label="Usuário") }}
              <div class="invalid-feedback">
                Digite seu sobrenome (ou seus sobrenomes) como no seu RG.
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="mb-3">
              <label for="email" class="form-label">Digite seu endereço de e-mail:</label>
              {{ render_field(form.email,placeholder="Ex.: franco.c@gmail.com",class="form-control",id="email", label="Usuário") }}
              <div class="invalid-feedback">
              Digite seu endereço de e-mail pessoal.
            </div>
            </div>
          </div>
          <div class="form-group">
            <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            {{ render_field(form.password,placeholder="Digite uma senha",class="form-control",id="password", label="Usuário") }}
            <div class="invalid-feedback">
              Digite uma senha com letras e numeros que seja facil para você se lembrar.
            </div>
          </div>
          <div class="form-group">
            <div class="mb-3">
              {{ render_field(form.invalidCheck,class="form-control", label='Lembrar meu nome de usuário e senha neste dispositivo.') }}
              <label class="form-check-label" for="invalidCheck">
                Ao enviar este formulário eu estou ciente que aceito os <a>termos de serviço</a> e a <a>politica de privacidade</a>.
              </label>
              <div class="invalid-feedback">
                Você tem que marcar esta caixa dando o seu consenso para o tratamento de dados, politica de privacidade e termos de serviço do aplicativo/site. 
              </div>
        
          </div>
          </div>
          <div class="mb-3">
            {{ render_field(form.submit, class="btn btn-primary",value="submit") }}
        </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    (() => {
      'use strict'
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')
    
      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
    
          form.classList.add('was-validated')
        }, false)
      })
    })()
  </script>
  {% endblock %}